@CHARSET "UTF-8";
.main{
	overflow:hidden;
}
#details {
	width:960px;
	min-height:600px;
	float:left;
	margin-bottom:10px;
}
 #details  h3 {
	text-align:center;
 	color:#333;
 	padding-top:20px;
 	font-size:22px;
 }
 #details .d1 {
	font-size:12px;
 	text-align:center;
 	padding:10px;
 }
  #details .d2{
	padding:10px;
  	margin:10px;
  	background:#fffeee;
  	border:1px solid #ccc;
  	line-height:150%;
  	text-align:center;
  }
   #details .d3{
	text-align:center;
   	padding:20px 10px;
   	line-height:150%;
   }
 
 
 