@CHARSET "UTF-8";
#list {
	width:1200px;
	margin:0 auto;
	padding-top:20px;
}
#list .listnav {
	overflow:hidden;
	height:50px;
	margin-bottom:50px;
}
#list .listnav ul {
	display:block;
	width:750px;
	margin:0 auto;
	overflow:hidden;
}
#list .listnav  li {
	height:50px;
	width:149px;
	float:left;
	line-height:50px;
	padding:0;
	border-left:1px solid gray;
	text-align:center;
	font-size:14px;
}

#list .listnav  li:hover {
	background:#9F0004;
	color:#fff;
	border:none;
}
#list .listnav  li a:hover {
	color:#fff;
}
#list  .showlist {
	background:#f9f6f6;
	min-height:300px;
}

#list .showlist  dl{
	height:110px;
	margin:10px 0;
	border-bottom:1px solid #ccc;
}

#list dl dt{
	width:150px;
	height:100px;
	float:left;
}
#list dl dd{
	float:left;
	width:530px;
	margin-left:8px;
	line-height:25px;
}











