<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>sidebar</title>  
<link rel="stylesheet" type="text/css" href="../style/admin.css" />  
</head>
<body id="sidebar">
    <dl>
    	<dt>个人中心</dt>
    		<dd><a href="../admin/main.php"  target="main">我的购物车</a></dd>
    		<dd><a href="../admin/manage.php?action=show" target="main">我的收藏</a></dd>
    		<dd><a href="#" target="main">浏览历史</a></dd>
    </dl>
    
    
</body>
</html>